/* font-family: "RobotoRegular"; */
@font-face {
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
	url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "NautilusPompiliusRegular"; */
@font-face {
    font-family: "NautilusPompiliusRegular";
    src: url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot");
    src: url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.woff") format("woff"),
    url("../fonts/NautilusPompiliusRegular/NautilusPompiliusRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedRegular"; */
@font-face {
    font-family: "RobotoCondensedRegular";
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot");
    src: url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.woff") format("woff"),
    url("../fonts/RobotoCondensedRegular/RobotoCondensedRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedLight"; */
@font-face {
    font-family: "RobotoCondensedLight";
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot");
    src: url("../fonts/RobotoCondensedLight/RobotoCondensedLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.woff") format("woff"),
    url("../fonts/RobotoCondensedLight/RobotoCondensedLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "RobotoCondensedBold"; */
@font-face {
    font-family: "RobotoCondensedBold";
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot");
    src: url("../fonts/RobotoCondensedBold/RobotoCondensedBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.woff") format("woff"),
    url("../fonts/RobotoCondensedBold/RobotoCondensedBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "Timber"; */
@font-face {
    font-family: "Timber";
    src: url("../fonts/Timber/Timber.ttf"),
    url("../fonts/Timber/Timber.ttf.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* Код для подключения шрифта в /css/stylename.css */
/* font-family: "GothamProRegular"; */
@font-face {
    font-family: "GothamProRegular";
    src: url("../fonts/GothamProRegular/GothamProRegular.eot");
    src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
    url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBold"; */
@font-face {
    font-family: "GothamProBold";
    src: url("../fonts/GothamProBold/GothamProBold.eot");
    src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
    url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlack"; */
@font-face {
    font-family: "GothamProBlack";
    src: url("../fonts/GothamProBlack/GothamProBlack.eot");
    src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
    url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProItalic"; */
@font-face {
    font-family: "GothamProItalic";
    src: url("../fonts/GothamProItalic/GothamProItalic.eot");
    src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
    url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMedium"; */
@font-face {
    font-family: "GothamProMedium";
    src: url("../fonts/GothamProMedium/GothamProMedium.eot");
    src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
    url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLight"; */
@font-face {
    font-family: "GothamProLight";
    src: url("../fonts/GothamProLight/GothamProLight.eot");
    src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
    url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProMediumItalic"; */
@font-face {
    font-family: "GothamProMediumItalic";
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
    src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
    url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProLightItalic"; */
@font-face {
    font-family: "GothamProLightItalic";
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
    src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
    url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBoldItalic"; */
@font-face {
    font-family: "GothamProBoldItalic";
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
    src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
    url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "GothamProBlackItalic"; */
@font-face {
    font-family: "GothamProBlackItalic";
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
    src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
    url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}